1)

In [ ]:
class circle:
    def __init__(self,r):
        self.r=r
    def area(self):
        print(f"Area is {self.r*self.r}")
    def peri(self):
        print(f"Perimeter is {round(2*self.r*3.14,2)}")

r=int(input("Enter the radius- "))
c1=circle(r)
c1.area()
c1.peri()

Enter the radius- 5
Area is 25
Perimeter is 31.4

2)

In [ ]:
class faculty:

    def __init__(self, name, id, branch, salary):
        self.name=name
        self.id=id
        self.branch=branch
        self.salary=salary
    def display(self):
        print(f"Name:{self.name}\nID:{self.id}\nBranch:{self.branch}\nSalary:{self.salary}")

fac=[]
for i in range(0,5):
    name = str(input("Enter name: "))
    id = int(input("Enter ID: "))
    branch = str(input("Enter branch: "))
    salary = int(input("Enter salary: "))
    emp = faculty(name, id, branch, salary)
    fac.append(emp)

for i in fac:
    i.display()

Enter name: Ramesh
Enter ID: 1
Enter branch: cse
Enter salary: 100000
Enter name: Anjali
Enter ID: 2
Enter branch: dsai
Enter salary: 95000
Enter name: Sam
Enter ID: 3
Enter branch: cse
Enter salary: 110000
Enter name: Franklin
Enter ID: 4
Enter branch: ece
Enter salary: 80000
Enter name: Eshwar
Enter ID: 5
Enter branch: dsai
Enter salary: 90000
Name:Ramesh
 ID:1
 Branch:cse
 Salary:100000
Name:Anjali
 ID:2
 Branch:dsai
 Salary:95000
Name:Sam
 ID:3
 Branch:cse
 Salary:110000
Name:Franklin
 ID:4
 Branch:ece
 Salary:80000
Name:Eshwar
 ID:5
 Branch:dsai
 Salary:90000

3)

In [ ]:
class account:
    def __init__(self, accno, holdername, amt):
        self.accno = accno
        self.holdername = holdername
        self.amt = amt
    
    def deposit(self, amt):
        self.amt = self.amt + amt
        print(f"{amt} deposited")
    
    def withdraw(self, amt):
        self.amt = self.amt - amt
        print(f"{amt} withdrawn")

    def checkbalance(self):
        print(f"Account balance is {self.amt}")
    
    def displaydetails(self):
        print(f"Account no: {self.accno}\nHolder name: {self.holdername}\nAmount in bank: {self.amt}")

holder1 = account(1, "Ramesh", 100000)
holder1.deposit(10000)
holder1.withdraw(20000)
holder1.checkbalance()
holder1.displaydetails()

10000 deposited
20000 withdrawn
Account balance is 90000
Account no: 1
Holder name: Ramesh
Amount in bank: 90000

4)

In [10]:
class students:

    def __init__(self, name, USN, marks) :
        self.name=name
        self.USN=USN
        self.marks=marks

    def display(self):
        print(f"Name:{self.name}\nUSN:{self.USN}\nmarks:{self.marks}\n")

stud = []
for i in range(0,3):
    name = str(input("Enter name: "))
    USN = int(input("Enter USN: "))
    marks = str(input("Enter marks: "))
    
    student = students(name, USN, marks)
    stud.append(student)

for i in stud:
    i.display()

Enter name: a
Enter USN: 1
Enter marks: 98
Enter name: b
Enter USN: 2
Enter marks: 97
Enter name: c
Enter USN: 3
Enter marks: 85
Name:a
USN:1
marks:98

Name:b
USN:2
marks:97

Name:c
USN:3
marks:85

5)

In [ ]:
class patient:
    totalpatients = 0
    severepatients = 0
    nonseverepatients = 0
    def __init__(self, name, date, symptoms, oxylvl, dischargedate):
        self.name = name
        self.date = date
        self.symptoms = symptoms
        self.oxylvl = oxylvl
        self.dischargedate = dischargedate

    def severity(self):
        if self.oxylvl<90:
            patient.severepatients += 1
            patient.totalpatients += 1
        else:
            patient.nonseverepatients +=1
            patient.totalpatients += 1

    def oxygensupport(self):
        print(f"{patient.severepatients} need oxygen support")

    def generalward(self):
        print(f"{patient.nonseverepatients} need general ward checkup")
    
    def totalpat(self):
        print(f"{patient.totalpatients} patients are currently admitted")

patient1 = patient("Ramesh", "12/9/21", ["cough","cold"], 95, "17/9/12")
patient1.severity()
patient1.oxygensupport()
patient1.generalward()
patient1.totalpat()

patient2 = patient("Deepak", "9/9/21", ["sore throat","fever"], 85, "19/9/12")
patient2.severity()
patient2.oxygensupport()
patient2.generalward()
patient2.totalpat()

0 need oxygen support
1 need general ward checkup
1 patients are currently admitted
1 need oxygen support
1 need general ward checkup
2 patients are currently admitted

6)

In [ ]:
class time:

    def __init__(self, hours = 0, minutes = 0, seconds = 0):
        self.hours = hours
        self.minutes = minutes
        self.seconds = seconds

    def display(self):
        print(f"{self.hours}:{self.minutes}:{self.seconds}")

time1 = time(5, 13, 55)
time1.display()
time2 = time()
time2.display()

5:13:55
0:0:0

7)

In [11]:
class students:

    def __init__(self, name, age, rollno) :
        self.name=name
        self.rollno=rollno
        self.age=age

    def display(self):
        print(f"Name:{self.name}\nrollno:{self.rollno}\nage:{self.age}\n")
    
    def agecompare(self):
        if std1.age == std2.age:
            print("They are equal")
        else:
            print("They are not equal")
        

std1 = students("Rahul", 21, 33)
std2 = students("Rohit", 22, 74)
std1.agecompare()

They are not equal

8)

In [ ]:
class student:
    sem = "Second"
    institute = "IIIT Dharwad"

    def __init__(self, name, usn):
        self.name = name
        self.usn = usn
    
    def displayinstance(self):
        print(f"Name: {self.name}\nUSN:{self.usn}")

    @classmethod
    def displayclass(cls):
        print(f"Sem: {cls.sem}\nInstitute: {cls.institute}")

    @staticmethod
    def displayinfo():
        print(f"sem and institute are the class attributes which are accessed by the class method displayclass\nname and usn are instance attributes which are accesed by the instance method displayinstance")        

s1 = student("Sam", 21)
s1.displayinstance()
s1.displayclass()
s1.displayinfo()

Name: Sam
USN:21
Sem: Second
Institute: IIIT Dharwad
sem and institute are the class attributes which are accessed by the class method displayclass
name and usn are instance attributes which are accesed by the instance method displayinstance

9)

In [12]:
class student:

    def __init__(self, name, rollno, sem, cpu, ram, harddisk):
        self.name = name
        self.rollno = rollno
        self.sem = sem
        self.s1 = self.laptop(cpu, ram, harddisk)

    def display(self):
        print(f"Name is: {self.name}\nRoll no is: {self.rollno}\nSem is: {self.sem}")
        self.s1.display()
    class laptop:

        def __init__(self, cpu, ram, harddisk):
            self.cpu = cpu 
            self.ram = ram
            self.harddisk = harddisk
    
        def display(self):
            print(f"CPU is: {self.cpu}\nRam is: {self.ram}gb\nHard disk is: {self.harddisk}gb")


s1 = student("Sam", 25, 3, "Intel", 8, 512)
s1.display()

Name is: Sam
Roll no is: 25
Sem is: 3
CPU is: Intel
Ram is: 8gb
Hard disk is: 512gb